@import "module/reset.css";
@import "module/variables.css";
@import "module/card.css";
@import "module/header.css"; 
@import "module/section1.css";
@import "module/post.css";
@import "module/blocMetro.css";
@import "module/footer.css";


 .container {
    max-width: 1200px; 
    margin: 0 auto;
    padding: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    /* margin: 0 -10px; */
    justify-content: center;
} 
 
body{
    box-sizing: border-box;
} 
