.anim-1 {
    overflow: hidden;
}

.anim-1 .slides {
    animation: slider-1 12s infinite ease-in-out;
    display: flex;
}

/* 
   5% par transition, nombre choisi arbitrairement.

   reste divisé par nb de pauses
   90(%) / 3 = 20(%) par pause
*/

@keyframes slider-1 {

    0%,
    30% {
        transform: translateX(0);
    }

    35%,
    65% {
        transform: translateX(-33.333333%);
    }

    70%,
    100% {
        transform: translateX(-66.666666%);
    }
}

