.img-metro1 {
    background-image: url(/img/BlogImagemetro1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
 height: 22rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img-metro2 {
    background-image: url(/img/BlogImagemeetro2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 22rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img-metro3 {
    background-image: url(/img/BlogImagemetro3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 22rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-metro{
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.card-metro-title {
    color: white;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5625rem;
    padding: 0.5rem 0;
}

.card-metro-des {
    color: #E5E5E5;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    padding: 0.5rem 0;
}

.card-metro-date {
    color: #E5E5E5;
    font-family: Lora;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0.5rem 0;
}

.metro-category {
    display: flex;
    justify-content: end;
}

.metro-category p{
    background-color: #31575b;
    border-radius: 10px;
    font-family: Roboto;
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    opacity: 0.7;
    padding: 0.5rem;
    text-align: center;
}